/*created by redrock*/
.m-bkmv_lists{
    margin-top: 20px;
}
.m-bkmv_lists .u-bkmv_item {
    width: 110px;
    height: 162px;
    float: left;
    margin-right: 17px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.m-bkmv_lists .u-bkmv_item:hover .u-bkmv_info{
    bottom: 0px;
}
.m-bkmv_lists .u-bkmv_item img{
    width: 108px;
    height: 160px;
    border: 1px solid #dddddd;
}
.m-bkmv_lists .u-bkmv_item .u-bkmv_info{
    position: absolute;
    width: 110px;
    bottom: -70px;
    left: 1px;
    background: rgba(0,0,0,0.6);
    padding-bottom: 7px;
    -webkit-transition: bottom 0.5s;
    -ms-transition: bottom 0.5s;
    -moz-transition: bottom 0.5s;
}
.m-bkmv_lists .u-bkmv_item .u-bkmv_info .u-bkmv_name{
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin: 16px 10px;
}

.m-bkmv_lists .u-bkmv_item .u-user_action{
    font-size: 12px;
    color: #ffffff;
    float: right;
    width: 100%;
    z-index: 1000;
}
.m-bkmv_lists .u-bkmv_item .u-user_action .u-bkmv_comment,  .m-bkmv_lists .u-bkmv_item .u-user_action .u-bkmv_love{
    float: right;
    margin-right: 9px;
    height: 18px;
    line-height: 18px;
    padding-left: 22px;
    background: url("../../../images/litera_t_icons.png") no-repeat left -356px;
    cursor: pointer;
}

.m-bkmv_lists .u-bkmv_item .u-user_action .u-bkmv_love{
    background-position: left -380px;
}

.m-bkmv_lists .u-page_tabs li {
    float: left;
    margin-right: 20px;
}

.m-bkmv_lists .u-page_tabs li:last-child {
    float: right;
    margin-right: 0;
}

.m-bkmv_lists .u-page_tabs li:last-child a {
    width: 104px;
}

.m-bkmv_lists .u-page_tabs li a {
    display: block;
    width: 33px;
    height: 33px;
    background: #dddddd;
    text-align: center;
    line-height: 33px;
    text-decoration: none;
    color: #333333;
}

.m-bkmv_lists .u-page_tabs li.s-active a {
    background: #999999;
    color: #ffffff;
}

.m-bkmv_lists .u-page_tabs li.s-omit a {
    background: none;
    width: 37px;
    line-height: 52px;
}