/*created by redrock*/
.m-original_tag{
    width: 233px;
}
.m-original_tag .u-original_tag_h{
    font-size: 14px;
    color: #333333;
}
.m-original_tag dl {
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
}
.m-original_tag dl:last-child {
    border-bottom: none;
}
.m-original_tag .u-tag_book dt, .m-original_tag .u-tag_book dd {
    float: left;
}
.m-original_tag .u-tag_movie dt, .m-original_tag .u-tag_movie dd{
    float: left;
}

.m-original_tag .u-tag_book dt, .m-original_tag .u-tag_movie dt{
    margin-right: 18px;
}
.m-original_tag .u-tag_book dt a, .m-original_tag .u-tag_movie dt a {
    font-size: 14px;
    color: #ff894f;
    text-decoration: none;
    line-height: 25px;
}
.m-original_tag .u-tag_book dd, .m-original_tag .u-tag_movie dd{
    margin-right: 24px;
}
.m-original_tag .u-tag_book dd a, .m-original_tag .u-tag_movie dd a {
    text-decoration: none;
    font-size: 12px;
    color: #666666;
    vertical-align: middle;
    line-height: 25px;
}