/*created by redrock*/
.u-tags_sort {
    margin-top: 14px;
    float: right;
    padding-bottom: 10px;
}
.u-tags_sort li{
    float: left;
    margin-left: 13px;
}
.u-tags_sort li a {
    font-size: 12px;
    color: #999999;
}
.u-tags_sort li.s-active a{
    color: #666666;
}

.m-tag_item{
    padding: 20px 0;
    border-bottom: 1px dashed #efefef;
    border-top: 1px dashed #efefef;
    clear: both;
}
.m-tag_item .s-img_show{
    width: 114px;
    height: 160px;
    float: left;
    margin-right: 20px;
}

.m-tag_item .u-tag_info{
    height: 160px;
    overflow: hidden;
}
.m-tag_item .u-tag_info .u-title {
    font-size: 16px;
    font-family: "microsoft yahei";
    color: #ff894f;
    line-height: 20px;
}
.m-tag_item .u-tag_info .u-author {
    color: #666666;
    font-size: 12px;
    font-family: "microsoft yahei";
    line-height: 20px;
}
.m-tag_item .u-tag_info .u-start_num{
    color: #333333;
    font-size: 16px;
    font-family: "microsoft yahei";
    margin-left: 10px;
}
.m-tag_item .u-tag_info .u-comment_total {
    font-size: 12px;
    vertical-align: middle;
    color: #666666;
}
.m-tag_item .u-tag_info .u-tag_intro{
    font-size: 12px;
    color: #666666;
    line-height: 26px;
    overflow: hidden;
}
.m-tag_item .u-tag_info .u-movie_stars{

}
.m-tag_item .u-tag_info .u-movie_stars li{
    float: left;
    width: 12px;
    height: 12px;
    background: url("../../../images/litera_t_icons.png") no-repeat left -276px;
}
.m-tag_item .u-tag_info .u-movie_stars li.s-star_half{
    background: url("../../../images/litera_t_icons.png") no-repeat left -294px;
}
