/*created by redrock*/
.g-header {
    background: #fefefe;
    background-image: -ms-linear-gradient(top, #fdfdfd, #fcfcfc); /* OPERA */
    background-image: -o-linear-gradient(top, #fdfdfd, #fcfcfc); /* IE 10 */
    background-image: -moz-linear-gradient(top, #fdfdfd, #fcfcfc); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdfdfd), color-stop(1, #fcfcfc)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#fcfcfc', GradientType='0'); /* IE 9 -*/
    box-shadow: 0 7px 16px #ececec;
}
/*header*/
.g-header_wrapper {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 13px;
}
/*logo*/
.g-header_wrapper .u-h_logo{
    width: 142px;
    height: 35px;
    background: url("../../../images/h_logo.png") no-repeat center center;
}

/*nav*/
.g-header_wrapper .u-h_nav{
    padding-top: 15px;
}
.g-header_wrapper .u-h_nav li{
    float: left;
    margin-right: 5px;
}
.g-header_wrapper .u-h_nav li a {
    text-decoration: none;
    padding: 5px 17px;
    color: #70c85c;
    font-size: 16px;
    font-family: "microsoft yahei";
    transition: color .4s ease-in,background .4s ease-in, box-shadow .4s ease-in;
}

.g-header_wrapper .u-h_nav li a:hover, .g-header_wrapper .u-h_nav li.s-active a{
    background: #70c85c;
    color: #ffffff;
    box-shadow: 0 -1px 0 #209b3b;
}