/*created by redrock*/
.m-personal_info {
    width: 260px;
    margin-top: 50px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
    padding: 0 18px;
}
/*.m-show_info{
    display: none;
}*/
.m-personal_info .u-change_info_btn{
    text-decoration: none;
    color: #3e70af;
    font-size: 12px;
    float: right;
    margin: 9px 14px 0 0;
    color: #ff894f;
    cursor: pointer;
}
.m-personal_info .m-info_detail{
    clear: both;
    text-align: center;
}
.m-personal_info .m-info_detail .u-user_show_icon {
    width: 92px;
    height: 92px;
    text-align: center;
    margin-bottom: 30px;
}
.m-personal_info .m-info_detail h5 {
    font-size: 18px;
    color: #333333;
    font-family: "microsoft yahei";
}
.m-personal_info .m-info_detail h6{
    color: #666666;
    font-size: 14px;
    padding: 10px 0 20px;
}
.m-personal_info .m-info_detail .u-user_extra_info li span{
    font-size: 12px;
    color: #333333;
    line-height: 25px;
}

.m-change_info{
    padding-top: 34px;
    display: none;
}

.m-change_info .u-change_header_icon .u-show_icon{
    display: block;
    width: 94px;
    height: 94px;
}
.m-change_info .u-change_header_icon .upload{
    width: 127px;
    padding: 25px 0 0 10px;
    overflow: hidden;
    position: relative;
}
.m-change_info .u-change_header_icon .upload label{
    color: #999999;
    font-size: 12px;
}
.m-change_info .u-change_header_icon .upload input[type="button"]{
    padding: 8px 25px;
    background: #6f6f6f;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
    margin-top: 21px;
}

.m-change_info .s-input label{
    color: #333333;
    display: block;
    font-size: 12px;
    line-height: 30px;
}
.m-change_info .s-input input[type="text"]{
    padding: 6px 0;
}

.m-change_info .s-input input[type="text"],.m-change_info .s-input textarea {
    width: 100%;
    border: 1px solid #dddddd;
    text-indent: 5px;
    font-size: 14px;
    color: #666666;
    font-family: "microsoft yahei";
    outline: none;
}

.m-change_info .s-input textarea{
    height: 106px;
    resize: none;
}

.m-change_info input[type="submit"]{
    width: 104px;
    height: 30px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    outline: none;
    margin: 18px 0 44px;
    background: #ff8c47;
    cursor: pointer;
    background-image: -ms-linear-gradient(top, #ff8c47, ff6e3a); /* OPERA */
    background-image: -o-linear-gradient(top, #ff8c47, ff6e3a); /* IE 10 */
    background-image: -moz-linear-gradient(top, #ff8c47, ff6e3a); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff8c47), color-stop(1, ff6e3a)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c47', endColorstr='ff6e3a', GradientType='0'); /* IE 9 -*/
}