/*created by smelrain*/
.m-ori_model{
    width: 681px;
    /*height: 665px;*/
    padding: 40px 50px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: none;
}

.m-orc{
    width: 440px;
    position: relative;
}
.m-orc img{
    width: 440px;
}
.m-ocb{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    height: 50px;
    line-height: 50px;
    color: #fff;
}
.m-ocb .text{
    display: inline-block;
    width: 350px;
    height: 50px;
    text-indent: 2em;
    font-family: "microsoft yahei";
    overflow: hidden;
}

.m-ocb .love{
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
}

.u-ainfo {
    width: 440px;
    color: #333;
    font-size: 14px;
    padding-top: 12px;
    word-break: break-word;
}
.g-ors{
    padding-left: 20px;
    overflow: hidden;
    height: 100%;
}

.m-comments_lists{
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 22px;
    color: #666666;
}
.m-comments_lists .item{
    border-bottom:1px dashed #cccccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.m-comments_lists .u-name{
    font-size: 12px;
    color: #464bbb;
}
.m-comments_lists .u-content{
    font-size: 12px;
}

.m-comments_lists button{
    outline: none;
    border: none;
    background: none;
    color: #666666;
    cursor: pointer;
}
.m-comments_lists:before{
    display: block;
    content: "";
    overflow: hidden;
}

.m-reply_lists{
    padding-left: 10px;
}
.m-comment{
    margin-top: 40px;
}
.m-comment input{
    width: 98%;
}
.m-comment button{
    border: none;
    margin-top: 9px;
    background: #8c7d4d;
    color: #fff;
    cursor:pointer;
    padding: 6px 17px;
}
.s-loadding {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 100px auto;
    border-bottom-color: transparent;
    border-radius: 25px;
    animation: loading 2s linear infinite;
    -webkit-animation: loading 2s linear infinite;
    -moz-animation: loading 2s linear infinite;
    -ms-animation: loading 2s linear infinite;
    -o-animation: loading 2s linear infinite;
    /*display: none;*/
}
@keyframes loading{
    from{
        transform : rotate(0deg);
        -webkit-tansform : rotate(0deg);
        -moz-tansform : rotate(0deg);
        -ms-tansform : rotate(0deg);
        -o-tansform : rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-tansform : rotate(360deg);
        -moz-tansform : rotate(360deg);
        -ms-tansform : rotate(360deg);
        -o-tansform : rotate(360deg);
    }
}
@-webkit-keyframes loading{
    from{
        transform : rotate(0deg);
        -webkit-tansform : rotate(0deg);
        -moz-tansform : rotate(0deg);
        -ms-tansform : rotate(0deg);
        -o-tansform : rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-tansform : rotate(360deg);
        -moz-tansform : rotate(360deg);
        -ms-tansform : rotate(360deg);
        -o-tansform : rotate(360deg);
    }
}
@-moz-keyframes loading{
    from{
        transform : rotate(0deg);
        -webkit-transform : rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform : rotate(360deg);
    }
}
@-o-keyframes loading{
    from{
        transform : rotate(0deg);
        -webkit-transform : rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform : rotate(360deg);
    }
}

.m-c_page {
    font-size: 13px;
}
.m-c_page span{
    cursor:pointer;
    color: #666;
    padding-right: 5px;
}

.s-m_link{
    color: #333333;
    display: block;
    padding-top: 5px;
}
