/*created by redrock*/
.m-bkmv_detail .u-bkmv_name{
    font-size: 18px;
    color: #ff894f;
    margin-bottom: 10px;
}
.m-bkmv_detail .u-bkmv_o_intro{
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
}
.m-bkmv_detail .u-bkmv_o_intro .u-bkmv_show_icon{
    width: 100px;
    height: 148px;
    border: #dddddd;
    margin-right: 20px;
}

.m-bkmv_detail .u-bkmv_o_intro .u-movie_stars li{
    float: left;
    width: 12px;
    height: 12px;
    background: url("../../../images/litera_t_icons.png") no-repeat left -276px;
}

.m-bkmv_detail .u-bkmv_o_intro .u-movie_stars li.s-star_half{
    background: url("../../../images/litera_t_icons.png") no-repeat left -294px;
}
.m-bkmv_detail .u-bkmv_o_intro .u-movie_stars{
    margin-right: 6px;
}
.m-bkmv_detail .u-bkmv_o_intro .u-bkmv_stars_num{
    font-size: 16px;
    color: #333333;
}
.m-bkmv_detail .u-bkmv_o_intro .u-bkmv_info_lists {
    width: 385px;
}
.m-bkmv_detail .u-bkmv_o_intro .u-bkmv_info_lists li {
    width: 192px;
    float: left;
    line-height: 20px;
}
.m-bkmv_detail .u-bkmv_o_intro .u-bkmv_info_lists .u-sec_info_key{
    font-size: 12px;
    color: #666666;
}
.m-bkmv_detail .u-bkmv_o_intro .u-bkmv_info_lists .u-sec_info_value{
    font-size: 12px;
    color: #333333;
}
.m-bkmv_detail .m-bkmv_brief_intro {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #efefef;
}
.m-bkmv_detail .m-bkmv_brief_intro .s-intro_title{
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
}
.m-bkmv_detail .m-bkmv_brief_intro .u-bkmv_intro_content{
    color: #666666;
    font-size: 12px;
    line-height: 20px;
}
