/*created by redrock*/
.m-microm_hot {
    width: 197px;
}

.m-microm_hot h4 {
    font-size: 16px;
    color: #333333;
    margin-bottom: 10px;
}

.m-microm_hot .u-movie_item .u-movie_info {
    line-height: 20px;
}
.m-microm_hot .u-movie_item{
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
}
.m-microm_hot .u-movie_item:last-child{
    border-bottom: none;
}
.m-microm_hot .u-movie_item .u-fix_image_wrap {
    width: 80px;
    height: 80px;
    border: 1px solid #dddddd;
    margin-right: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.m-microm_hot .u-movie_item .u-movie_hot_name {
    font-size: 12px;
    color: #ff894f;
}

.m-microm_hot .u-movie_item .u-love_hot_count {
    font-size: 12px;
    color: #999999;
}