/*created by redrock*/
body{
    background: url("../../../images/login-register-bg.jpg") no-repeat;
    background-size: cover;
}

.u-banner{
    width: 283px;
    height: 101px;
    margin: 87px auto;
    background: url("../../../images/login-register-banner.png") no-repeat center center;
}