/*created by redrock*/
.m-bkmv_comments{
    width: 670px;
}
.m-bkmv_comments .u-comment_item {
    border-bottom: 1px dashed #dddddd;
    padding-bottom: 40px;
    margin-top: 20px;
}
.m-bkmv_comments .u-comment_item .u-show_user_icon {
    width: 60px;
    height: 60px;
    float: left;
    border: 1px solid #dddddd;
}
.m-bkmv_comments .u-comment_item .u-comment_detail {
    width: 587px;
    float: left;
    margin-left: 20px;
}
.m-bkmv_comments .u-comment_item .u-user_name{
    font-size: 12px;
    color: #596ebb;
}
.m-bkmv_comments .u-comment_item .u-user_content{
    font-size: 13px;
    color: #333333;
    line-height: 23px;
}
.m-bkmv_comments .u-comment_item .u-user_action {
    font-size: 14px;
    float: right;
    color: #999999;
    margin-top: 12px;
}
.m-bkmv_comments .u-comment_item .u-user_action span {
    display: inline-block;
    cursor: pointer;
}
.m-bkmv_comments .u-comment_item .u-reply_tag{
    font-size: 12px;
    color: #333333;
}
.m-bkmv_comments .u-comment_item .s-reply_items{
    background: #efefef;
}
.m-bkmv_comments .u-comment_item .u-reply_content {
    color: #333333;
    font-size: 12px;
}

.m-bkmv_comments .u-page_tabs{
    margin: 48px 0 27px;
}
.m-bkmv_comments .u-page_tabs li {
    float: left;
    margin-right: 20px;
}

.m-bkmv_comments .u-page_tabs li:last-child {
    float: right;
    margin-right: 0;
}

.m-bkmv_comments .u-page_tabs li:last-child a {
    width: 104px;
}

.m-bkmv_comments .u-page_tabs li a {
    display: block;
    width: 33px;
    height: 33px;
    background: #dddddd;
    text-align: center;
    line-height: 33px;
    text-decoration: none;
    color: #333333;
}

.m-bkmv_comments .u-page_tabs li.s-active a {
    background: #999999;
    color: #ffffff;
}

.m-bkmv_comments .u-page_tabs li.s-omit a {
    background: none;
    width: 37px;
    line-height: 52px;
}

.m-litera_re_comment .u-input {
    display: block;
    width: 670px;
    border: 1px solid #dddddd;
    padding: 13px 0;
    color: #111111;
    text-indent: 2rem;
    outline: none;
}
.m-litera_re_comment .u-submit{
    float: right;
    width: 104px;
    height: 32px;
    background: #dddddd;
    border: none;
    outline: none;
    margin: 20px 0 42px;
    cursor: pointer;
}
